body {
	width:1902px;
	height:3302px;
}

.clearfix:before, .clearfix:after {
	content:" ";
	display:table;
}

.clearfix:after {
	clear:both;
}

header {
	height:202px;
	width:100%;
}

.header-logo {
	height:202px;
	width:442px;
	float:left;
}

.header-logo img {
	padding-left:63px;
	padding-top:60px;
}

.header-top {
	width:1460px;
	height:138px;
	float:left;
}

.header-top-first {
	display:inline-block;
	width:235px;
	height:100%;
}

.header-top-first-img {
	margin-top:45px;
	margin-left:-1px;
	float:left;
}

.header-top-first-paragr {
	float:left;
	margin-top:28px;
	margin-left:12px;
	line-height:22px;
	font-family:'Montserrat', sans-serif;
	font-size:16px;
}

.header-top-second, .header-top-third {
	display:inline-block;
	width:315px;
	height:100%;
}

.header-top-second-img, .header-top-third-img {
	margin-top:45px;
	float:left;
}

.header-top-second-paragr, .header-top-third-paragr {
	float:left;
	margin-top:28px;
	margin-left:14px;
	line-height:22px;
	font-family:'Montserrat', sans-serif;
	font-size:16px;
}

.header-top-fourth {
	display:inline-block;
	width:400px;
	height:100%;
	float:right;
}

.header-top-fourth-img {
	margin-top:43px;
	margin-left:79px;
}

.sprite3 {
	background:url(/images/spritesheet3.png);
	display:inline-block;
}

.sprite3-phone {
	width:43px;
	height:42px;
	background-position:-57px -56px;
}

.sprite3-mail {
	width:42px;
	height:42px;
	background-position:-5px -56px;
}

.sprite3-location {
	width:42px;
	height:41px;
	background-position:-77px -5px;
}

.sprite {
	background:url(/images/spritesheet.png) no-repeat;
	display:block;
}

.sprite-button-1 {
	width:256px;
	height:50px;
	background-position:-5px -5px;
}

nav {
	height:64px;
	width:1460px;
	background-color:#f36773;
	float:right;
}

.nav-home {
	width:115px;
	height:100%;
	display:inline-block;
	font-family:'Montserrat', sans-serif;
	font-size:16px;
	color:white;
	float:left;
	text-align:center;
	line-height:64px;
	text-decoration:none;
}

.nav-container-aboutus {
	display:inline-block;
	float:left;
	width:149px;
	height:100%;
}

.nav-aboutus {
	width:77px;
	height:100%;
	display:inline-block;
	font-family:'Montserrat', sans-serif;
	font-size:16px;
	color:white;
	float:left;
	margin-left:38px;
	line-height:64px;
	text-decoration:none;
}

.nav-aboutus-pointer {
	float:right;
	margin-top:29px;
	margin-right:21px;
}

.sprite3-pointer-down {
	width:10px;
	height:6px;
	background-position:-51px -37px;
}

.nav-container-services {
	display:inline-block;
	float:left;
	width:149px;
	height:100%;
}

.nav-services {
	width:68px;
	height:100%;
	display:inline-block;
	font-family:'Montserrat', sans-serif;
	font-size:16px;
	color:white;
	float:left;
	margin-left:33px;
	line-height:64px;
	text-decoration:none;
}

.nav-services-pointer {
	float:right;
	margin-top:29px;
	margin-right:34px;
}

.nav-locations {
	width:117px;
	height:100%;
	display:inline-block;
	font-family:'Montserrat', sans-serif;
	font-size:16px;
	color:white;
	float:left;
	text-align:center;
	line-height:64px;
	text-decoration:none;
}

.nav-container-blog {
	display:inline-block;
	float:left;
	width:145px;
	height:100%;
}

.nav-blog {
	width:39px;
	height:100%;
	display:inline-block;
	font-family:'Montserrat', sans-serif;
	font-size:16px;
	color:white;
	float:left;
	margin-left:50px;
	line-height:64px;
	text-decoration:none;
}

.nav-blog-pointer {
	float:right;
	margin-top:29px;
	margin-right:41px;
}

.nav-container-pages {
	display:inline-block;
	float:left;
	width:90px;
	height:100%;
}

.nav-pages {
	width:52px;
	height:100%;
	display:inline-block;
	font-family:'Montserrat', sans-serif;
	font-size:16px;
	color:white;
	float:left;
	margin-left:13px;
	line-height:64px;
	text-decoration:none;
}

.nav-pages-pointer {
	float:right;
	margin-top:29px;
	margin-right:12px;
}

.nav-contacts {
	width:156px;
	height:100%;
	display:inline-block;
	font-family:'Montserrat', sans-serif;
	font-size:16px;
	color:white;
	float:left;
	text-align:center;
	line-height:64px;
	text-decoration:none;
}

.sprite3-search {
	margin-top:22px;
	width:17px;
	height:17px;
	background-position:-135px -155px;
}

.nav-search {
	width:87px;
	height:100%;
	display:inline-block;
	float:right;
}

main {
	width:100%;
	height:2900px;
}

.girl-container {
	width:100%;
	height:805px;
	background:url("/images/girl-image.jpg") no-repeat;
}

.girl-container-info {
	height:100%;
	width:550px;
	margin-left:360px;
}

.girl-container-info-text {
	width:100%;
	height:240px;
	margin-top:230px;
}

.girl-container-info-button {
	width:100%;
	height:150px;
}

.sprite-button-2 {
	margin-top:38px;
	margin-left:7px;
	width:231px;
	height:56px;
	background-position:-5px -65px;
}

.girl-container-info-pointers {
	width:100%;
	height:145px;
}

.sprite3-pointer-left {
	margin-top:46px;
	margin-left:11px;
	width:21px;
	height:31px;
	background-position:-110px -97px;
}

.sprite3-pointer-right {
	margin-left:40px;
	width:19px;
	height:31px;
	background-position:-162px -5px;
}

.girl-paragr-1 {
	display:block;
	font-family:'Montserrat', sans-serif;
	font-size:22px;
	color:white;
	margin:0;
	padding-top:17px;
	padding-left:7px;
}

.girl-paragr-2 {
	display:block;
	font-family:'Montserrat', sans-serif;
	font-size:68px;
	font-weight:700;
	color:white;
	margin:0;
	padding-top:6px;
	padding-left:7px;
}

.girl-paragr-3 {
	display:block;
	font-family:'Montserrat', sans-serif;
	font-size:22px;
	color:white;
	margin:0;
	padding-top:32px;
	padding-left:7px;
	line-height:30px;
}

.our-services {
	width:100%;
	height:1034px;
}

.our-services-container {
	height:100%;
	width:1171px;
	margin:auto;
}

.our-services-offer {
	display:block;
	font-family:'Montserrat', sans-serif;
	font-size:15px;
	font-style:italic;
	color:#907697;
	margin:125px auto 0;
	text-align:center;
}

.our-services-title {
	display:block;
	font-family:'Montserrat', sans-serif;
	font-size:42px;
	font-weight:700;
	color:black;
	margin:12px auto 0;
	text-align:center;
}

.sprite3-red-stripe {
	display:block;
	width:60px;
	height:4px;
	background-position:-65px -143px;
	margin-top:22px;
	margin-left:556px;
}

.our-services-text {
	display:block;
	font-family:'Montserrat', sans-serif;
	font-size:15px;
	color:black;
	margin:22px 176px 0;
	text-align:center;
	height:60px;
	line-height:23px;
}

.our-services-img {
	width:102%;
	height:470px;
	margin-top:47px;
}

.our-services-img-1 {
	height:100%;
	width:286px;
	float:left;
}

.our-services-img-2 {
	height:100%;
	width:286px;
	margin-left:15px;
	float:left;
}

.our-services-img-3 {
	height:100%;
	width:286px;
	float:left;
	margin-left:14px;
}

.our-services-img-4 {
	height:100%;
	width:286px;
	margin-left:14px;
	float:left;
}

.sprite2 {
	background:url(/images/spritesheet2.png) no-repeat;
	display:block;
}

.sprite2-pic-1 {
	width:270px;
	height:400px;
	background-position:-225px -5px;
}

.sprite2-pic-2 {
	width:270px;
	height:400px;
	background-position:-505px -5px;
}

.sprite2-pic-3 {
	width:270px;
	height:400px;
	background-position:-5px -415px;
}

.sprite2-pic-4 {
	width:270px;
	height:400px;
	background-position:-285px -415px;
}

.our-services-img-1 span {
	font-family:'Montserrat', sans-serif;
	font-size:22px;
	color:#6e4d77;
	display:block;
	margin-top:18px;
	margin-left:1px;
}

.our-services-img-2 span, .our-services-img-3 span, .our-services-img-4 span {
	font-family:'Montserrat', sans-serif;
	font-size:22px;
	color:#6e4d77;
	display:block;
	margin-top:18px;
}

.our-services-button {
	width:100%;
	height:207px;
}

.sprite-button-3 {
	width:235px;
	height:56px;
	background-position:-5px -131px;
	margin-top:35px;
	margin-left:468px;
}

.pricing {
	width:100%;
	height:1062px;
	background-color:#f7f6f4;
}

.pricing-container {
	height:100%;
	width:1660px;
	margin:auto;
}

.pricing-packages {
	display:block;
	font-family:'Montserrat', sans-serif;
	font-size:14px;
	font-style:italic;
	color:#907697;
	margin:125px auto 0;
	text-align:center;
}

.pricing-title {
	display:block;
	font-family:'Montserrat', sans-serif;
	font-size:42px;
	font-weight:700;
	color:black;
	margin:13px auto 0;
	text-align:center;
}

.sprite3-red-stripe-2 {
	display:block;
	width:60px;
	height:4px;
	background-position:-65px -143px;
	margin-top:22px;
	margin-left:801px;
}

.pricing-offer-container {
	width:101%;
	height:570px;
	margin-top:93px;
}

.pricing-offer-1 {
	height:100%;
	width:300px;
	margin:0 13px;
	float:left;
}

.pricing-offer-2 {
	height:100%;
	width:300px;
	margin:0 13px 0 132px;
	float:left;
}

.pricing-offer-3 {
	background-color:white;
	position:relative;
	height:100%;
	width:415px;
	margin:0 13px 0 75px;
	float:left;
	box-shadow:0 0 5px rgba(0, 0, 0, 0.2);
}

.pricing-offer-4 {
	height:100%;
	width:300px;
	margin:0 13px 0 74px;
	float:left;
}

.pricing-offer-title {
	display:block;
	width:100%;
	height:54px;
	text-align:center;
	font-family:'Montserrat', sans-serif;
	font-size:28px;
	border-bottom:1px solid #f36773;
	margin:54px auto auto;
}

.pricing-offer-title-a {
	display:block;
	width:71%;
	height:54px;
	text-align:center;
	font-family:'Montserrat', sans-serif;
	font-size:28px;
	border-bottom:1px solid #f36773;
	margin:54px auto auto;
}

.offer-text-container {
	width:100%;
	height:220px;
	margin-top:39px;
}

.pricing-offer-text {
	display:block;
	width:100%;
	height:44px;
	text-align:center;
	font-family:'Montserrat', sans-serif;
	font-size:14px;
}

.grey-text {
	color:#d6d6d6;
}

.pricing-offer-price {
	display:block;
	width:100%;
	height:54px;
	text-align:center;
	font-family:'Montserrat', sans-serif;
	font-size:42px;
	color:#f36773;
	padding-top:13px;
}

sup {
	top:-0.6em;
}

.bucks {
	font-size:25px;
}

.pricing-button {
	width:100%;
	height:78px;
}

.sprite-button-4 {
	width:184px;
	height:56px;
	background-position:-5px -197px;
	margin-top:11px;
	margin-left:58px;
}

.sprite-button-4-a {
	width:184px;
	height:56px;
	background-position:-5px -197px;
	margin-top:11px;
	margin-left:115px;
}

.most-popular {
	position:absolute;
	top:-19px;
	right:19px;
	z-index:2;
}

footer {
	width:100%;
	height:200px;
	background-color:#292728;
}

.copyright {
	display:inline-block;
	font-family:'Montserrat', sans-serif;
	font-size:16px;
	color:white;
	padding-top: 145px;
	padding-left: 300px;
}